.App {
  text-align: center;
  background-image: "client/src/assets/background.jpg";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .Toastify__toast--success {
  border-radius: 50px !important;
  background: #6bff7a !important;
  font-weight: bolder;
}

.Toastify__toast--error {
  border-radius: 50px !important;
  background: #fb9b9b !important;
  color: black;
  font-size: larger;
  font-weight: bolder;
} */

.page-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-count {
  margin: 0 10px;
  font-size: 14px;
  color: #777;
}

.page-switcher-btn {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #0077cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.page-switcher-btn:hover {
  background-color: #005ea2;
}

.page-switcher-btn:disabled {
  background-color: #d5d5d5;
  cursor: default;
}
